* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100%;
  width: 100%;
}

@media print {
  .printable-statement {
    font-family: "'Noto Sans SC', 'Roboto', 'Arial', sans-serif" !important;
    visibility: visible !important;
  }
  .MuiTypography-root, .MuiTableCell-root {
    font-family: "'Noto Sans SC', 'Roboto', 'Arial', sans-serif" !important;
  }
}
